extends /layout/main.pug


block vars
	- var title = "后台登录"
	- var showNav = false
	- var showFooter = false


block styles


block content
	.admin-form-box
		.login-wrap.signin-wrap
			h1 登录
			.form-wrap
				.form-item
					.item-label.required 邮箱
					input(type="text" placeholder="enter email...")#email
				.form-item
					.item-label.required 密码
					input(type="password" placeholder="enter password...")#pwd
				.form-item.code-item
					.item-label.required 验证码
					.code-wrap
						input(type="text" placeholder="enter code...")#code
						.code-img 验证码
				.form-item.btn-item
					button.btn.login-btn 登录


block scripts
	script(src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js")
	script(src="https://cdn.bootcdn.net/ajax/libs/vue-router/3.5.2/vue-router.min.js")
	script(src="https://cdn.bootcdn.net/ajax/libs/vuex/3.6.2/vuex.min.js")
