extends /layout/main.pug


block vars
	- var showTitle = false
	- var showNav = false
	- var showFooter = false


block styles

block content
	#app


block scripts
	script(src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.14/vue.min.js")
	script(src="https://cdn.bootcdn.net/ajax/libs/vue-router/3.5.2/vue-router.min.js")
	script(src="https://cdn.bootcdn.net/ajax/libs/vuex/3.6.2/vuex.min.js")
