block vars

- var SERVICE_MODE = SERVICE_RUN_MODE == true

<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="keywords" content="Peachick's blog, blog, 博客, Peachick, 博客网站, 网站, 学习, 资源, Vue, React, 小程序, 混合应用")
		meta(name="description" content="Peachick's blog, blog, 博客, Peachick, 博客网站, 网站, 学习, 资源, Vue, React, 小程序, 混合应用")
		meta(http-equiv="X-UA-Compatible" content="IE=9")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="referrer" content="same-origin")
		link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")
		if(showTitle === false)
			title #{PROJECT_TITLE}
		else
			title #{title}-#{PROJECT_TITLE}

		//- Selective insertion style (like: link(rel="stylesheet" href="/lib/bootstrap.css"))
		block styles
	body
		//- Nav slot
		//- Controls whether to show the Nav (Dot not show only 'showNav' is false)
		if(showNav == false)
		else
			include /layout/nav.pug

		//- Page main different content area 
		block content

		//- Footer slot
		//- Controls whether to show the Footer (Dot not show only 'showFooter' is false)
		if(showFooter == false)
		else
			include /layout/footer.pug

		//- page loading
		include /layout/loading.pug

		script(src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js")
		script.
			const pageTitle = document.title
			let scrollTitleTimer
			document.addEventListener("visibilitychange", e => {
				if (document.visibilityState === "hidden") {
					document.title = "兄dei，等你回来~  \t"
					scrollTitleTimer = setInterval(() => {
						var tag = document.querySelector('title');
						var content = tag.innerText;
						var firstStr = content.charAt(0);
						var surplue = content.substring(1, content.length);
						var new_content = surplue + firstStr;
						tag.innerText = new_content;
					}, 300);
				} else if (document.visibilityState) {
					clearInterval(scrollTitleTimer)
					document.title = pageTitle
				}
			})
		//- Selective insertion script (like: script(src="/lib/jquery.js"))
		block scripts

